.modal__input_type_name {
  margin: 0 auto 30px;
  padding-bottom: 11px;
  width: 100%;
}

@media screen and (min-width:1024px) {
  .modal__input_type_name  {
    padding-bottom: 10px;
    margin-bottom: 22px;
  }
}

